
a {
    color: #00B7FF;
}
.sticky-bottom {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 1020;
}
@media (min-width: 576px) {
    .w-sm-100 {
        width: 100% !important;
    }
}

@media (min-width: 768px) {
    .w-md-50 {
        width: 50% !important;
    }
    .w-md-75 {
        width: 75% !important;
    }
}

@media (min-width: 992px) {
    .w-lg-25 {
        width: 25% !important;;
    }
}