<% include ../patrials/header.ejs %>
<div class="container mt-3 mb-2">
    <div class="row">
        <h2 class="col-12 text-center mt-1 mb-2 pt-3">修改登陆密码</h2>
        <div style="width: 30%; margin: 0px auto;">
            <form action="/users/<%= user._id%>/password?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="oldPassword">旧密码： </label>
                    <input type="password" class="form-control" name="oldPassword">
                </div>
                <div class="form-group">
                    <label for="oldPasswordConfirm">确认旧密码： </label>
                    <input type="password" class="form-control" name="oldPasswordConfirm">
                </div>
                <div class="form-group">
                    <label for="newPassword">新密码： </label>
                    <input type="password" class="form-control" name="newPassword">
                </div>
                <div class="form-group">
                    <button class="btn btn-sm btn-primary btn-block">修改密码</button>
                </div>
            </form>
        </div>
    </div>
</div>
<% include ../patrials/footer.ejs %>